DATA_POSTGRES=True
POSTGRES_DB=petflow
POSTGRES_USER=petflow_user
POSTGRES_PASSWORD=petflow_password
DB_HOST=db

SECRET_KEY=django-insecure-uae_g@+v&1v52z07gg9fr*our7_(h6wpp06#%c7_=+2bal(oki
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,89.169.180.46